<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <style>
        body{
            background-color: lightgrey;
        }
        *{
            padding : 0px;
            margin : 0px;
            font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        }
      </style>
<div id="particles-js" style="position : absolute; width:100%; height:100%; z-index:-1; background-color: #000000"></div>
  
<div class="container">
    <img src="../img/logo.jpg" width="600" class="img-fluid wall" style="display: block; margin: 0 auto">
</div>

<div class="container">
    <Form action = "/game" method = "POST">
      <button id="Iniciar_juego" type="submit" class="btn btn-primary">Iniciar juego</button>
      <Input name="textbox" id="usuario" class="form-control" aria-label="Nombre de usuario:" aria-describedby="inputGroup-sizing-default" type="text" value="${salida}"style="display: none">
    </Form>
    <Form action = "/tabla" method = "GET">
      <button id="Ranking" type="submit" class="btn btn-primary btn-lg">Ver Ranking</button>
    </Form>
    <Form action = "/inst" method = "GET">
      <button id="Instrucciones" type="submit" class="btn btn-primary btn-lg">Instrucciones</button>
    </Form>
    <Form action = "/" method = "GET">
      <button id="Salir" type="submit" class="btn btn-primary btn-lg">Salir</button>
    </Form>
  </div>
</div>

<script src="../particles/particles.js"></script>
<script src="../particles/app.js"></script>

</body>
</html>
