<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <style>
        body{
            background-color: lightgrey;
        }
        *{
            padding : 0px;
            margin : 0px;
            font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        }
      </style>

<div class="container">
    <img src="../img/logo.jpg" width="600" class="img-fluid wall" style="display: block; margin: 0 auto">
</div>

<div class="container">
  <div class="btn-group-vertical btn-group-lg " style="display: block; margin: 0 auto">
    <button type="button" class="btn btn-primary" onclick="location.href='./game.html'" >Iniciar juego</button>
    <button type="button" class="btn btn-primary">Ver tabla posiciones</button>
    <button type="button" class="btn btn-primary">Instrucciones</button>
    <button type="button" class="btn btn-primary" onclick="location.href='./login.html'">Salir</button>
  </div>
</div>
