<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <style>
        body{
            background-color: lightgrey;
        }
        *{
            padding : 0px;
            margin : 0px;
            font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        }
      </style>

<div class="container">
    <img src="../img/logo.jpg" width="600" class="img-fluid wall" style="display: block; margin: 0 auto">
</div>

<div class="container">
    <Form action = "/game" method = "GET">
      <button id="Iniciar_juego" type="submit" class="btn btn-primary">Iniciar juego</button>
    </Form>
    <Form action = "/tabla" method = "GET">
      <button id="Ranking" type="submit" class="btn btn-primary">Ver Ranking</button>
    </Form>
    <Form action = "/inst" method = "GET">
      <button id="Instrucciones" type="submit" class="btn btn-primary">Instrucciones</button>
    </Form>
    <Form action = "/" method = "GET">
      <button id="Salir" type="submit" class="btn btn-primary">Salir</button>
    </Form>
</div>
