<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <label id ="nombre" display = 'block' style="display: none">${salida}</label>
    <ol id='foo'></ol>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.emit('ranking', {nombre: document.getElementById("nombre").innerHTML.toString()});
    
        socket.on('ranking', (data) => {
          var foo = data.map(function(bar){
            return '<li>'+'Usuario: '+bar.nombre+' || Puntaje: '+bar.puntaje+'</li>'
          })
          document.getElementById("foo").innerHTML = foo;
        })
    
        socket.on('nuevoPunto', (data) => {
          var foo = data.map(function(bar){
            return '<li>'+'Usuario: '+bar.nombre+' || Puntaje: '+bar.puntaje+'</li>'
          })
          document.getElementById("foo").innerHTML = foo;
        })
    </script>
    
</body>
</html>
